h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(pattern.webp);
    text-align:center;
    color: khaki;
    font-size: 100px;
    font-weight: bold;
}   
.brush h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.frame h3 {
    font-family: Arial, Helvetica, sans-serif;
}
.paint h3 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.paint p {
    color: black;
}
.paint h2 {
    font-weight: bold;
    background-color: aquamarine;
}
#brush {
    background-color: mediumspringgreen;
}
#frame {
    color: white;
    background-color: skyblue;
}
.amount {
    color: blue;
}
.dark {
    color: black;
}